.dialog-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
}

.dialog {
	position: fixed;
	border: 1px solid darkgray;
	border-radius: 6px;
	background-color: white;
	width: 60%;
	margin: auto;
	box-shadow: 4px 4px darkgray;
	display: flex;
	flex-direction: column;
}

.dialog .header {
	padding-left: 20px;
	border-bottom: 1px solid lightgray;
}

.dialog .content {
	padding: 20px 10px 20px 10px;
}

.dialog .footer {
	border-top: 1px solid lightgray;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}
